$primary: #04AA6D;
$secondary: #2196F3;;

$negative: #f44336;
$warning: #ff9800;

:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-negative: #{$negative};
  --color-warning: #{$warning};
}
